<div class="banner">
  <div class="container">
    <h1>This page</h1>
    <p>
      <span id="banner-typed-text"></span>
      <%= link_to 'Create a new list', new_list_path(@list) %>
    </p>
  </div>
</div>

<div class="container-list">
  <div class="list-text">
    <h3>My Lists</h3>

<% @lists.each do |list| %>
  <div>
  <%= link_to list.name, list_path(list) %>

    <%= form_with(url: list_path(list), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
      <%= form.submit "Remove" %>
    <% end %>

    <!-- Add any other list details you want to display -->
  </div>
<% end %>
