<h1>All Lists</h1>

<% @lists.each do |list| %>
  <div>
    <%= link_to list.name, list_path(list) %>
    <!-- Add any other list details you want to display -->
  </div>
<% end %>

<%= link_to "Create New List", new_list_path %>
